@media only screen and (max-width: 992px) and (min-width: 576px) {
    .pcoded-main-container {
      margin-left: 0px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px){
    .pcoded-main-container {
      margin-left: 100px;
    }
    .pcoded-mtext {
      position: relative;
      opacity: 0;
    }
  
    .pcoded-menu-caption label{
      position: inline-block;
      opacity: 0;
    }
  
    .pcoded-header{
      margin-left:264px;
      -webkit-transition: none;
      transition: none;
    }
  
  }
  
  @media only screen and (min-width: 1200px){
  
    .pcoded-navbar.navbar-collapsed{
      width:264px;
      -webkit-transition: none;
      transition: none;
    }
  
    .pcoded-navbar.navbar-collapsed ~ .pcoded-header, .pcoded-navbar.navbar-collapsed ~ .pcoded-main-container{
     
      -webkit-transition: none;
      transition: none;
    }
  
    .navbar-collapsed .b-brand .b-title {
      opacity:1;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  
    .pcoded-navbar.navbar-collapsed .pcoded-menu-caption > label{
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  
    .pcoded-navbar.navbar-collapsed .pcoded-inner-navbar > li.pcoded-trigger .pcoded-submenu li a{
      color:white;
    }
  
    .pcoded-menu-caption label{
      position: unset!important;
      opacity: 1!important;
    }
  
    .pcoded-mtext {
      position: unset!important;
      opacity: 1!important;
    }
  
    .pcoded-navbar.navbar-collapsed .pcoded-menu-caption > label{
      opacity: 1!important;
    }
  }